// @ Font - Face

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-ExtraLightItalic.eot');
    src: url('../assets/fonts/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-ExtraLightItalic.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-ExtraLightItalic.svg#../assets/fonts/SourceSansPro-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Bold.eot');
    src: url('../assets/fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-Bold.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-Bold.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-Bold.svg#../assets/fonts/SourceSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-BoldItalic.eot');
    src: url('../assets/fonts/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-BoldItalic.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-BoldItalic.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-BoldItalic.svg#../assets/fonts/SourceSansPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-ExtraLight.eot');
    src: url('../assets/fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-ExtraLight.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-ExtraLight.svg#../assets/fonts/SourceSansPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Regular.eot');
    src: url('../assets/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-Regular.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-Regular.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-Regular.svg#../assets/fonts/SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Black.eot');
    src: url('../assets/fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-Black.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-Black.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-Black.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-Black.svg#../assets/fonts/SourceSansPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Italic.eot');
    src: url('../assets/fonts/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-Italic.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-Italic.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-Italic.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-Italic.svg#../assets/fonts/SourceSansPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Light.eot');
    src: url('../assets/fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-Light.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-Light.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-Light.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-Light.svg#../assets/fonts/SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-SemiBold.eot');
    src: url('../assets/fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-SemiBold.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-SemiBold.svg#../assets/fonts/SourceSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-LightItalic.eot');
    src: url('../assets/fonts/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-LightItalic.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-LightItalic.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-LightItalic.svg#../assets/fonts/SourceSansPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-SemiBoldItalic.eot');
    src: url('../assets/fonts/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-SemiBoldItalic.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-SemiBoldItalic.svg#../assets/fonts/SourceSansPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-BlackItalic.eot');
    src: url('../assets/fonts/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/SourceSansPro-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/SourceSansPro-BlackItalic.woff') format('woff'),
        url('../assets/fonts/SourceSansPro-BlackItalic.ttf') format('truetype'),
        url('../assets/fonts/SourceSansPro-BlackItalic.svg#../assets/fonts/SourceSansPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

// Colors
$blue: #4f6d7a;


.header {
    color: white;
    height: 100px;
    z-index: 9999;
    background-color: white;

    &.home-menu {
        background-color: transparent;
    } 

    .toolbar {
        height: 100%;
        .toolbar-background {
            border: none;
        }
    }
}

.header-md {
    &::after {
        background: none;
    }
}

.toolbar-md {
    min-height: 50px;
}

.toolbar-background {
    background: transparent;
}

.ion-md-menu, .ion-ios-menu {
    &:before {
        content: "";
    }
}

.scroll-content, .fixed-content {
    padding-top: 25px !important;
    margin-top: 75px !important;
}

ion-title {
    text-align: center;
}

div {
    .item-inner {
        background: none !important;
    }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    background-image: url('../assets/imgs/gradient.png');
    background-repeat: repeat-y;
    background-size: contain;
}

ion-content {
    &.slide-menu {
        ion-list {
            button {
                font-family: 'Source Sans Pro';
                font-weight: bold;
                text-transform: uppercase;
                color: $blue;

                border: none !important;
                border-top: none;

                .item-inner {
                    border: none !important;
                    box-shadow: none;

                    .input-wrapper {
                        ion-label {
                            font-size: 20px;
                            &::before {
                                width: 25px;
                                height: 18px;
                                margin: 3.5px 0;
                                display: block;
                                content: "";
                                float: left;
                                margin-right: 10px;
                            }
                        }
                    }
                }

                &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                    .item-inner {
                        border: none !important;
                        box-shadow: none;

                        .input-wrapper {
                            ion-label {
                                &::before {
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-position-x: center;
                                }
                            }
                        }
                    }
                }

                &:nth-child(1) {
                    .item-inner {
                        .input-wrapper {
                            ion-label {
                                &::before {
                                    background-image: url('/assets/imgs/icons/house.svg');
                                }
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    .item-inner {
                        .input-wrapper {
                            ion-label {
                                &::before {
                                    background-image: url('/assets/imgs/icons/bluetooth.svg');
                                }
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .item-inner {
                        .input-wrapper {
                            ion-label {
                                &::before {
                                    background-image: url('/assets/imgs/icons/category.svg');
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}