page-home {
    ion-content {
        background: url('../assets/imgs/categories/cocktails.jpg') no-repeat;
        background-size: cover;
        background-position-x: 45%;
        
        .fixed-content {
            margin: 0 !important;
            background: url('../assets/imgs/gradient.png');
            background-size: contain;

            .content {
                padding-top: 50px;
                width: 100%;
                height: 100%;
            }
        }
    }
}