  <ion-header>
    <ion-navbar>
      <header></header>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <div style="height: 100%;" *ngIf="scale > -10;">
      <div *ngIf="step == 0">
        <div class="glass-instructions">
          <h1>Put your glass or cocktail shaker on the scale.</h1>
        </div>
        <div *ngIf="scale > 10">
          <button class="btn-step" (click)="process(step)" ion-button>Start</button>
        </div>
      </div>
      <div style="height: 100%;" *ngIf="step > 0">
        <div *ngIf="step == totalItems">
          <div class="finishInstructions">
            <h1>That's it.</h1>
            <p>To make this drink even more perfect just add a
              <span>slice or piece of {{ name }}</span>
            </p>
          </div>
          <button id="home_btn" (click)="toHomePage()" ion-button>
            <span>home</span>
          </button>
        </div>
        <div style="height: 100%; width: 100%;" *ngIf="step < totalItems ">
          <div class="wrapper">
            <div class="green">
              <div class="progress">
                <div class="inner">
                  <div class="process-details">
                    <h1>{{ name }}</h1>
                    <p class="unit">{{ scale }} / {{ amount }} {{ unit }}</p>
                    </div>
                  <div class="percent"></div>
                    <div *ngIf="scale <= amount">
                      <div class="water" [style.top]="(100 - ((100 / amount) * scale ) + 90) + '%'"></div>
                    </div>

                    <div *ngIf="scale > amount">
                      <div class="water" [style.top]="'80%'"></div>
                    </div>
                  <div class="glare"></div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="scale >= amount">
            <button id="btnStep" class="btn-step" (click)="process(step)" ion-button>Next</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="scale < -25 || step != totalItems" class="offglass-instructions">
      <h1>Please put your glass back on the scale.</h1>
    </div>
  </ion-content>
  
  <script>
    // animation();
    var colorInc = 100 / 3;
    $(function () {
      $("#percent-box").click(function () {
        $(this).select();
      });
      $("#percent-box").keyup(function () {
        var val = $(this).val();
        if (val != ""
          && !isNaN(val)
          && val <= 100
          && val >= 0) {
          console.log(val);
          var valOrig = val;
          val = 100 - val;
          if (valOrig == 0) {
            $("#percent-box").val(0);
            $(".progress .percent").text(0 + "%");
          }
          else $(".progress .percent").text(valOrig + "%");
          $(".progress").parent().removeClass();
          $(".progress .water").css("top", val + "%");
          if (valOrig < colorInc * 1)
            $(".progress").parent().addClass("red");
          else if (valOrig < colorInc * 2)
            $(".progress").parent().addClass("orange");
          else
            $(".progress").parent().addClass("green");
        }
        else {
          $(".progress").parent().removeClass();
          $(".progress").parent().addClass("green");
          $(".progress .water").css("top", 100 - 67 + "px");
          $(".progress .percent").text(67 + "%");
          $("#percent-box").val("");
        }
      });
    });
  </script>
  <script src="cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>