  <ion-header>
  
    <ion-navbar>
      <header></header>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    

    <div *ngIf="scale > -10;">
      <div *ngIf="step == 0">
        <h1>Put glass on scale</h1>
        <p>The glass is {{ scale }} grams</p>
    
        <div *ngIf="scale > 10">
          <button class="btn-step" (click)="process(step)" ion-button>Start process</button>
        </div>
      </div>
  
      <div *ngIf="step > 0">
        <p>The glass is {{ scale }} grams</p>

        <div *ngIf="step == totalItems">
          <p>Step {{ step }} / {{ totalItems }} <br>
          Add a slice/piece of {{ name }} <br>
          Your cocktail is finished, enjoy!
          </p>
        </div>
    
        <div *ngIf="step < totalItems">
          <div class="wrapper">
            <div class="green">
              <div class="progress">
                <div class="inner">
                  <div class="process-details">
                      <p>
                        Step {{ step }} / {{ totalItems }} <br>
                        {{ amount }} {{ unit }} <br>
                        {{ name }}
                      </p>
                    </div>
                  <div class="percent"></div>
                  <div *ngIf="scale <= amount">
                    <div class="water" [style.top]="100 - ((100 / amount) * scale ) + '%'"></div>
                  </div>
                  <div *ngIf="scale > amount">
                    <div class="water" [style.top]="0"></div>
                  </div>
                  <div class="glare"></div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="scale >= amount">
            <button id="btnStep" class="btn-step" (click)="process(step)" ion-button>Step {{step}}</button>
          </div>
        </div>
    
        
      </div>
    </div>

    <div *ngIf="scale < -10;">
      <p>Please put your glass back on the scale.</p>
    </div>
  </ion-content>
  
  <script>
    // animation();
    var colorInc = 100 / 3;
    $(function () {
      $("#percent-box").click(function () {
        $(this).select();
      });
      $("#percent-box").keyup(function () {
        var val = $(this).val();
        if (val != ""
          && !isNaN(val)
          && val <= 100
          && val >= 0) {
          console.log(val);
          var valOrig = val;
          val = 100 - val;
          if (valOrig == 0) {
            $("#percent-box").val(0);
            $(".progress .percent").text(0 + "%");
          }
          else $(".progress .percent").text(valOrig + "%");
          $(".progress").parent().removeClass();
          $(".progress .water").css("top", val + "%");
          if (valOrig < colorInc * 1)
            $(".progress").parent().addClass("red");
          else if (valOrig < colorInc * 2)
            $(".progress").parent().addClass("orange");
          else
            $(".progress").parent().addClass("green");
        }
        else {
          $(".progress").parent().removeClass();
          $(".progress").parent().addClass("green");
          $(".progress .water").css("top", 100 - 67 + "px");
          $(".progress .percent").text(67 + "%");
          $("#percent-box").val("");
        }
      });
    });
  </script>
  <script src="cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>