<ion-header>
  <ion-navbar>
    <header></header>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div ion-item class="heading">
    <h1>{{ data && data.cocktail.name }}</h1>
    <div class="overlay"></div>
    <img src="../assets/imgs/drinks/{{ data && data.cocktail.image }}" alt="{{ data && data.cocktail.name }}">
  </div>
  <h2>Ingredients</h2>
  <div class="ingredients-wrapper">
      <div *ngIf="data == null" class="nodata-message">
        <p>No ingredients yet.</p>
      </div>
      <div ion-item class="ingredients" *ngFor="let ingredients of data && data.ingredients">
        <p>{{ ingredients.name }}</p>
        <p class="amount">{{ ingredients.amount }}{{ ingredients.unit }}</p>
        <div class="overlay"></div>
        <img src="../assets/imgs/ingredients/{{ ingredients.image }}" alt="{{ ingredients.name }}">
      </div>
  </div>

  <button id="btnStep" (click)="showProcessByIngredient(id)" ion-button>
    <span>START</span>
  </button>
</ion-content>
